:root {
    --primary-bg-color-white: #EEEEEE;
    --secondary-bg-color-darkblue: #334E5E;
    --secondary-bg-color-variant: #1F2F38;
    --primary-button-color-green: #42B082;
    --primary-button-color-green-hover: #286A4E;
    --primary-button-color-white-outline: #FFFFFF;
    --primary-button-color-white-outline-hover: #EEEEEE;
    --card-color-box-shadow: 0 0 16px #476576;
    --box-shadow-color-white-bg: 0 2px 5px 1px rgba(64, 60, 67, .16);
    --primary-text-color-white-hover: #42B082;
    --primary-text-color-white: #fff;
    --primary-text-color-dark: #334E5E;
    --big-font: 2.2rem;
    --h2-font: 2rem;
    --normal-font: 1rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--primary-bg-color-white);
    color: var(--primary-text-color-white);
}

/*------- Style for Header section ----------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background-color: var(--secondary-bg-color-variant);
}

header .logo img {
    width: 80%;
}

header .navlist {
    display: flex;
}

header .navlist a {
    color: var(--primary-text-color-white);
    font-weight: 500;
    padding: 10px 20px;
}

header .navlist a:hover {
    color: var(--primary-text-color-white-hover);
}

.btn a  {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-button-color-green);
    color: var(--primary-text-color-white);
    border-radius: 8px;
    text-align: center;
    box-shadow: var(--card-color-box-shadow);
}

.btn a:hover {
    background-color: var(--primary-button-color-green-hover);
    transition: 0.4s ease;
}

.btn i.bx {
    padding-left: 16px;
}

header #menu-icon {
    font-size: 1.5rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background-color: var(--primary-button-color-green);
    border-radius: 5px;
    color: var(--primary-text-color-white);
    padding: 3px;
    display: none;
}

/*------- Style for Home section ----------------------------------- */

section {
    padding: 100px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.5rem;
}

.home-content {
    max-width: 600px;
    color: #334E5E;
}

.home-image img {
    width: 85%;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.home-content p, .home-content .btn {
    font-size: var(--normal-font);
    padding-top: 10px;
}

.home-content .btn {
    padding-top: 20px;
}

/*------- Style for services section ----------------------------------- */