:root {
    --primary-bg-color-white: #EEEEEE;
    --secondary-bg-color-darkblue: #334E5E;
    --secondary-bg-color-variant: #1F2F38;
    --secondary-bg-color-gray: #B7B9A8;
    --primary-button-color-green: #42B082;
    --primary-button-color-green-hover: #286A4E;
    --primary-button-color-white-outline: #FFFFFF;
    --primary-button-color-white-outline-hover: #EEEEEE;
    --card-color-box-shadow: 0 0 16px #979797;
    --box-shadow-color-white-bg: 0 2px 5px 1px rgba(64, 60, 67, .16);
    --primary-text-color-white-hover: #42B082;
    --primary-text-color-white: #fff;
    --primary-text-color-dark: #1b1b1b;
    --big-font: 4rem;
    --h2-font: 2rem;
    --normal-font: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--primary-bg-color-white);
    color: var(--primary-text-color-white);
}

h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-font);
}

p {
    font-size: var(--normal-font);
}

section {
    padding: 100px 10%;
}

/*------- Style for Header section ----------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background-color: var(--secondary-bg-color-variant);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10001;
}

header .logo img {
    width: 30px;
    height: 30px;
}

header .logo span {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-text-color-white);
    padding-left: 10px;
}

header .top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .top-nav a {
    color: var(--primary-text-color-white);
    font-weight: 500;
    padding: 10px 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: var(--secondary-bg-color-variant);
    z-index: 100001;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

}

.menu-close {
    position: fixed;
    top: 20px;
    right: 25%;
    font-size: 1.5rem;
    color: var(--primary-text-color-white);
    cursor: pointer;
}

.sidebar li {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.sidebar a {
    color: var(--primary-text-color-white);
    font-weight: 500;
    padding: 10px 20px;
    width: 100%;
}

header .top-nav a:hover,
.sidebar a:hover {
    color: var(--primary-text-color-white-hover);
}

.btn a {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-button-color-green);
    color: var(--primary-text-color-white);
    border-radius: 8px;
    text-align: center;
}

.btn a:hover {
    background-color: var(--primary-button-color-green-hover);
    transition: 0.4s ease;
}

.btn i.bx {
    padding-left: 16px;
}

header #menu-icon {
    font-size: 26px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background-color: var(--primary-button-color-green);
    border-radius: 5px;
    color: var(--primary-text-color-white);
    padding: 3px;
    display: none;
}

/*------- Style for Home section ----------------------------------- */

section {
    padding: 100px 10%;
}

.home {
    min-height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    text-align: center;
    color: var(--primary-bg-color-white);
}

.home-content p {
    padding-top: 10px;
}

.home-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.home-btn-container .btn {
    margin: 0 10px;
}

.home-btn-container .btn2 a {
    background: none;
    border: 1px solid var(--primary-button-color-green);
}

/*------- Style for about section ----------------------------------- */
section.about {
    padding: 100px 10%;
    background-color: var(--secondary-bg-color-variant);
}

.about-content,
.featured-services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.about-desc,
.featured-services-desc {
    width: 50%;
    padding-right: 20px;
}

.about-desc h2,
featured-services-desc h2 {
    font-size: var(--h2-font);
}

.about-desc h2,
.about-desc p {
    color: var(--primary-text-color-white);
}

.about-desc p,
.featured-services-desc p {
    font-size: var(--normal-font);
    padding-top: 10px;
    line-height: 1.6;
}

.about-image-container,
.featured-services-img {
    width: 50%;
}

.about-image-container img,
.featured-services-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow-color-white-bg);
}


/*------- Style for services section ----------------------------------- */
section.services {
    padding: 100px 10%;
}

.services-heading h2,
.services-heading p {
    color: var(--primary-text-color-dark);
    text-align: center;
}

.services-heading p {
    padding-top: 10px;
}

.services-card-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.services-card {
    width: 30%;
    background-color: var(--secondary-bg-color-darkblue);
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: var(--card-color-box-shadow);
    transition: 0.4s ease;
    padding: 30px 20px;
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card img {
    width: 60px;
    height: 60px;
}

.services-card h3 {
    color: var(--primary-bg-color-white);
    padding: 16px 0;
}

.services-card p {
    color: var(--primary-bg-color-white);
    font-size: 1rem
}

.horizontal-line {
    width: 100%;
    height: 4px;
    background-color: var(--primary-button-color-green);
}

.featured-services {
    background-color: var(--secondary-bg-color-darkblue);
    padding: 100px 10%;
}

.fts-2 {
    background-color: var(--primary-bg-color-white);
    color: var(--primary-text-color-dark);
}


/* testimonial */
section.testimonial {
    padding: 100px 10%;
    background-color: #5c717e;
}

.testimonial-heading p,
.testimonial-heading h2 {
    text-align: center;
}

.testimonial-heading p {
    padding-top: 10px;
}

.testimonial-card-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.testimonial-card {
    width: 45%;
    background-color: var(--secondary-bg-color-darkblue);
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.4s ease;
    padding: 30px 20px;
}

.testimonial-card .quote {
    margin-block: 10px;
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

.testimonial-card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px 0 0;

}

.customer-profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.customer-profile .customer-id p {
    font-size: 0.8rem;
}


/* contact  */
.contact {
    padding: 100px 10%;
    background-color: var(--secondary-bg-color-darkblue);
}

.contact-heading h2,
.contact-heading p {
    color: var(--primary-text-color-white);
    text-align: center;
}

.contact-heading {
    padding-bottom: 50px;
}

.contact-heading p {
    padding-top: 10px;
}

.form {
    width: 50%;
    margin: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: medium;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 0.375rem;
    outline: none;
}

.form-textarea {
    resize: vertical;
}

.required {
    color: #ff0000;
}

.form-footer {
    font-size: 0.875rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.terms-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-button-color-green);
}

.form-submit {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: semibold;
    color: #291b18;
    background-color: #fff;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
}

.form-submit:hover {
    background-color: var(--primary-button-color-green);
}

/* footer */
footer {
    background-color: var(--secondary-bg-color-variant);
    color: var(--primary-text-color-white);
    padding: 50px 10%;
}

footer h2 {
    font-size: var(--h2-font);
    text-align: center;
}

footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

footer .social-icons a {
    padding: 0 10px;
    color: var(--primary-text-color-white);
}

footer .social-icons i {
    font-size: 2rem;
}

.footer .copyright {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

footer .copyright .vertical-line {
    width: 2px;
    height: 20px;
    background-color: var(--secondary-bg-color-gray);
    margin: 0 10px;
}

.footer-logo img {
    width: 20px;
    height: 20px;
}

.footer-logo span {
    font-size: 1.2rem;
    color: var(--primary-text-color-white);
    padding-left: 5px;
}

.footer-logo span a {
    color: var(--primary-text-color-white);
}

#thank-you-message {
    display: none;
    text-align: center;
    font-size: 1rem;
    color: #79F2B9;
    animation: fade-in 1s;
}

.form-submit {
    background-color: #79F2B9;
    color: #002236;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #66d9a6;
}

.fade-in {
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Responsive */
@media screen and (max-width: 580px) {
    nav .hideOnMobile {
        display: none;
    }

    header #menu-icon {
        display: block;
    }

    header .logo span {
        font-size: 1rem;
    }

    header .logo img {
        width: 20px;
        height: 20px;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .home-btn-container .btn a {
        padding: 10px 12px;
        font-size: 0.8rem;
    }

    section.about,
    .services,
    .featured-services,
    .testimonial,
    .contact {
        padding: 50px 10%;
    }

    .about-content,
    .featured-services,
    .services-card-container,
    .testimonial-card-container {
        flex-direction: column;
    }

    .about-desc,
    .featured-services-desc,
    .about-image-container,
    .featured-services-img,
    .services-card,
    .testimonial-card {
        width: 100%;
    }

    .about-desc h2,
    .featured-services-desc h2,
    .services-heading h2,
    .testimonial-heading h2 {
        font-size: 1.5rem;
    }

    .about-desc p,
    .featured-services-desc p,
    .services-heading p,
    .testimonial-heading p,
    .testimonial-card p {
        font-size: 0.8rem;
    }

    .about-image-container img,
    .featured-services-img img {
        width: 100%;
        height: 100%;
    }

    .services-card,
    .testimonial-card {
        margin: 10px 0;
    }

    .services-card h3,
    .testimonial-card h3 {
        font-size: 1.2rem;
    }

    .form {
        width: 100%;
    }

    footer h2 {
        font-size: 1.5rem;
    }

    footer .copyright p,
    footer .copyright span {
        font-size: 0.8rem;
    }

    footer .social-icons i {
        font-size: 1rem;
    }

    footer .social-icons a {
        padding: 0 5px;
    }
}

@media (min-width: 581px) and (max-width: 1250px) {
    nav .hideOnMobile {
        display: none;
    }

    header #menu-icon {
        display: block;
        cursor: pointer;
    }

    header .top-nav ul {
        flex-direction: column;
    }

    header .top-nav a {
        padding: 20px 0;
    }

    header .logo span {
        font-size: 1.5rem;
    }

    header .logo img {
        width: 20px;
        height: 20px;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .home-btn-container .btn a {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .about-content,
    .featured-services,
    .services-card-container,
    .testimonial-card-container {
        flex-direction: column;
    }

    .about-desc,
    .featured-services-desc,
    .about-image-container,
    .featured-services-img,
    .services-card,
    .testimonial-card {
        width: 100%;
    }

    .about-desc h2,
    .featured-services-desc h2,
    .services-heading h2,
    .testimonial-heading h2 {
        font-size: 2rem;
    }

    .about-desc p,
    .featured-services-desc p,
    .services-heading p,
    .testimonial-heading p,
    .testimonial-card p {
        font-size: 1.2rem;
    }

    .about-image-container img,
    .featured-services-img img {
        width: 100%;
        height: 100%;
    }

    .services-card,
    .testimonial-card {
        margin: 10px 0;
    }

    .services-card h3,
    .testimonial-card h3 {
        font-size: 1.5rem;
    }

    .form {
        width: 100%;
    }

    footer h2 {
        font-size: 2rem;
    }

    footer .social-icons i {
        font-size: 1.5rem;
    }

    footer .social-icons a {
        padding: 0 10px;
    }

    footer .copyright p,
    footer .copyright span {
        font-size: 1rem;
    }
}

@media (min-width: 801px) and (max-width: 1439px) {

}